.featuer-card-wrapper {
    background-color: #666;
}


.feature-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    max-width: 0px;
    margin: 0 auto 1rem auto;
}

.feature-card {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    padding: 1rem 2rem;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.feature-icon {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.feature-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
    font-weight: 700;
}

.feature-description {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin: 0;
}

.Spectrum-icon1 {
    width : 18em;
}

.Ranking-icon1 {
    width : 12em;
}

.Quiz-icon1 {
    width : 10em;
}