.section {
    background: none;
    position: relative;
    z-index: 10;
    padding: 4rem 2rem;
    min-height: 100vh;
    margin-top : 5rem;
}

.Introduction {
    margin: 0 0 4rem 0;
    font-size: 3em;
    color: #494949;
    text-align: center;
}
