.Main-div {
    border-bottom: 1.5px solid #d6d6d6;
}

.Main-Logo {
    width : 110px;
    cursor : pointer
}

.Main-Title span:nth-child(1) { color:#E9A5A5;stop-opacity:0.6 }
.Main-Title span:nth-child(2) { color:#E9D4A6;stop-opacity:0.65 }
.Main-Title span:nth-child(3) { color:#A5DCC8;stop-opacity:0.7 }
.Main-Title span:nth-child(4) { color:#B5D9F4;stop-opacity:0.75 }
.Main-Title span:nth-child(5) { color:#F4B5E0;stop-opacity:1 }
.Main-Title span:nth-child(6) { color:#C5AAD9;stop-opacity:1 }






style="stop-color:#F4D9A6;stop-opacity:0.65" />
            <stop offset="100%" style="stop-color:#E9D4A6;stop-opacity:0.65" />
        </linearGradient>
        <linearGradient id="bar3" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color:#B5E7D3;stop-opacity:0.7" />
            <stop offset="100%" style="stop-color:#A5DCC8;stop-opacity:0.7" />
        </linearGradient>
        <linearGradient id="bar4" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color:#B5D9F4;stop-opacity:0.75" />
            <stop offset="100%" style="stop-color:#A5CEE9;stop-opacity:0.75" />
        </linearGradient>
        <linearGradient id="mainBlock" x1="0%" y1="0%" x2="100%" y2="100%">
            <stop offset="0%" style="stop-color:#D1B5E7;stop-opacity:1" />
            <stop offset="100%" style="stop-color:#F4B5E0;stop-opacity:1" />