body {
    font-family: "Spoqa Han Sans Neo", "Pretendard Variable", "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
  }

.Main-Logo {
    width: 260px;
    cursor: pointer;
    margin-right: 50px; 
}

.Main-div {
    display: flex;  
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    text-align: center; 
}

.Main-Title span:nth-child(1) { color:#E9A5A5; opacity : 0.6; }
.Main-Title span:nth-child(2) { color:#E9D4A6; opacity : 0.65; }
.Main-Title span:nth-child(3) { color:#A5DCC8; opacity : 0.7; }
.Main-Title span:nth-child(4) { color:#B5D9F4; opacity : 0.75; }
.Main-Title span:nth-child(5) { color:#F4B5E0; opacity : 1; }
.Main-Title span:nth-child(6) { color:#C5AAD9; opacity : 1; }

.Main-Title {
    font-size : 70px;
}

.Login-Btn {
    background-color : transparent;
    border : 2px solid white;
    cursor: pointer;
    height : 50px;
    font-size : 20px;
}